<h4><strong>Upcoming activities</strong></h4>

<ul>
    <li><strong>Polynomial System Solving Workshop 2019, October 14-15, Berlin:</strong> Together with <a
            href="http://page.math.tu-berlin.de/~breiding/" target="_blank">Paul Breiding</a>
        I am organizing a <a
            href="https://kvv.imp.fu-berlin.de/portal/site/34e97129-0915-401f-9f0e-cef093568c18/page/7122cafb-c0cb-42e2-aefe-c014146d98c0?null"
            target="_blank">two
            day block course</a> on the numerical solution of polynomial systems.
        This will cover theory as well as hands on computations using <a
            href="https://www.JuliaHomotopyContinuation.org" target="_blank">HomotopyContinuation.jl</a>.
    </li>
</ul>