<div class="introduction">
    <p>
        I was a PhD student at TU Berlin under the supervision of
        <a href="http://page.math.tu-berlin.de/~joswig/">Michael Joswig</a> and
        <a href="https://math.berkeley.edu/~bernd/">Bernd Sturmfels</a>.
        I graduated in summer 2021.
        My main field of interest is Numerical Nonlinear Algebra, a subject at the intersection of Numerical Analysis
        and
        Algebraic Geometry. Together with <a href="http://page.math.tu-berlin.de/~breiding/">Paul Breiding</a> I am
        developing the
        <a href="https://www.julialang.org">Julia</a>
        package
        <a href="https://www.JuliaHomotopyContinuation.org">HomotopyContinuation.jl</a>, a package to solve systems of
        polynomial
        equations by numerical homotopy continuation methods.
    </p>
    <p>
        I was supported by the Research Training Group
        <a href="http://www.facetsofcomplexity.de">Facets of Complexity</a> and the Einstein Fellowship research group
        <a
            href="https://www.math.tu-berlin.de/fachgebiete_ag_diskalg/nichtlineare_algebra/v_menue/nichtlineare_algebra">Nonlinear
            Algebra</a> of Bernd Sturmfels.
    </p>

    <p>
        Prior to my PhD I was a software engineer at the start-up <a href="http://math-42.com">Math 42</a> which
        was <a
            href="https://investor.chegg.com/Press-Releases/press-release-details/2017/Chegg-Acquires-Math-Technology/default.aspx">successfully
            aquired</a> by <a href="https://www.chegg.com">Chegg</a> in October 2017.
    </p>
    <span>
        <b>Interests.</b> {{ $.Site.Params.interests | markdownify }}
    </span>
</div>
