<div class="introduction">
  <h4><strong>Software Projects</strong></h4>
  <ul>

    <!-- <img src="https://www.juliahomotopycontinuation.org/images/logo_transparent_bg.png"
      style="width:320px;max-width:70%;margin-right:16px;"> </img> -->
    <li>
      <a href="https://www.JuliaHomotopyContinuation.org">HomotopyContinuation.jl:</a> A Julia package for the numerical
      solution of polynomial systems by homotopy continuation methods.
    </li>
    <li>
      <a href="https://github.com/oscar-system/Polymake.jl">Polymake.jl:</a> A Julia interface to <a href="https://polymake.org">polymake</a>.
    </li>
    <li>
      <a href="https://github.com/saschatimme/MixedSubdivisions.jl">MixedSubdivisions.jl:</a> A Julia package for
      computing a (fine) mixed subdivision and the mixed volume of lattice polytopes.
    </li>
    <li><a href="https://github.com/saschatimme/PolynomialAmoebas.jl">PolynomialAmoebas.jl:</a> Visualization and
      computations related to Amoebas in 2 and 3 variables.</li>
  </ul>
</div>