<div class="introduction">
  <h4><strong>Publications</strong></h4>

	<h4>Published</h4>
	<ul>
		<li>
			<a href="https://arxiv.org/abs/1902.05518">3264 Conics in a Second</a> (with Paul Breiding and Bernd Sturmfels), <em>Notices of the American Mathematical Society <strong>67</strong> (2020) 30-37 </em>
		</li>

	</ul>
	<h4>Preprints</h4>
	<ul>
		<li>
			Backward Error Measures for Roots of Polynomials (2020 with Simon Telen and Marc Van Barel, <a
				href="https://arxiv.org/abs/2003.09618">arXiv: 2003.09618</a>).
			<em>Submitted to Numerical Algorithms.</em>
		</li>
		<li>
			Mixed Precision Path Tracking for Polynomial Homotopy Continuation (2020, <a
				href="https://arxiv.org/abs/1902.02968">arXiv: 1902.02968</a>).
		</li>
		<li>
	      96120: The degree of the linear orbit of a cubic surface (2019 with Laura
	      Brustenga and Madeleine Weinstein,
	      <a href="https://arxiv.org/abs/1909.06620">arXiv: 1909.06620</a>). <em>To appear in Le Matematiche.</em>
	    </li>
		<li>
			Estimating linear covariance models with numerical nonlinear algebra (2019 with Bernd Sturmfels and Piotr Zwiernik, <a
				href="https://arxiv.org/abs/1909.00566">arXiv: 1909.00566</a>). <em>Submitted to Journal of Algebraic Statistics.</em>
		</li>
	</ul>

  <h4>Extended Abstracts</h4>
  <ul>
	
	<li>
		Polymake.jl: A new interface to polymake
		(2020 with Marek Kaluba and Benjamin Lorenz,
		<a href="https://arxiv.org/abs/2003.11381">arXiv:2003.11381</a>).
		<br />
		<em>Submitted to the ICMS 2020.</em>
	  </li>
    <li>
      HomotopyContinuation.jl: A package for homotopy continuation in Julia
      (2018 with Paul Breiding,
      <a href="https://arxiv.org/abs/1711.10911">arXiv:1711.10911</a>).
      <br />
      A version of this article appeared in
      <a href="https://link.springer.com/chapter/10.1007/978-3-319-96418-8_54"
        >Lecture Notes in Computer Science, 10931, 458-465, 2018</a
      >
    </li>
  </ul>
</div>
